# database
DB_USER=
DB_PASSWORD=
DB_NAME=

# bot
BOT_TOKEN=
VK_TOKEN=v

# beeline telephony
BEELINE_API_TOKEN=
BEELINE_API_BASE_URL=https://cloudpbx.beeline.ru/apis/portal
BEELINE_CALLBACK_URL=
BEELINE_WEBHOOK_SECRET=
BEELINE_STATISTICS_PATH=/v2/statistics
BEELINE_RECORDS_PATH=/records
BEELINE_SUBSCRIPTION_PATH=/subscription
BEELINE_SUBSCRIPTION_TYPE=BASIC_CALL
BEELINE_SUBSCRIPTION_EXPIRES=3600
